body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 30px auto 30px;
    grid-template-areas: 
    "header ."
    "main ."
    "footer .";
    max-width: 678px;
    height: 100vh;
}

header {
    grid-area: header;
    border: 2px solid red;
}

main {
    grid-area: main;
    border: 2px solid red;
}

footer {
    grid-area: footer;
    border: 2px solid red;
}
