body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

div {
    border: 2px solid red;
    height: 500px;
}

.first {
    grid-column: 2 / span 4;
}

.second {
    grid-column: 6 / span 6;
}
